.btn-discord {
	background-color: #5865F2; /*Blurple*/
	color: white;
	font-weight: 500;
	border: none;
}

.btn-discord:hover {
	background-color: #4752c4; 
	color: white;
}

.thumbnail-container {
	width: 150px;
}

.action-button-cell {
	transition: background-color .2s ease-in-out, color .2s ease-in-out;
}

.action-button-cell:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: #ffffff;
}

.action-button-cell a {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	color: inherit;
}