{% extends "stash_base.html" %}

{% block title %}Stash{% endblock %}

{% block stash_active %}active{% endblock %}
{% block upload_active %}{% endblock %}

{% block content %}
	{% for file in object_list %}
		<div class="card mb-2 {% if file.nsfw %}border-danger{% else %}border-secondary{% endif %} overflow-hidden">
			<div class="row g-0 h-100" style="min-height: 150px">
				<a href="view/{{ file.id }}" class="col-10 d-flex text-decoration-none text-reset action-button-cell">
					<div class="thumbnail-container d-flex align-items-center justify-content-center">
						{% load thumbnail %}
						{% if file.file_type == "image" or file.file_type == "video" %}
							<img src="{% thumbnail file.file 'preview' %}" class="img-fluid">
						{% elif file.file_type == "audio" %}
							<i class="fas fa-music fa-4x"></i>
						{% elif file.file_type == "other" %}
							<i class="fas fa-file fa-4x"></i>
						{% endif %}
					</div>
					<div class="flex-grow-1">
						<div class="card-body">
							<div class="row">
								<div class="col-8">
									<h5 class="card-title">{{ file }}</h5>
									<p class="card-text text-muted small">{{ file.description }}</p>
								</div>
								<div class="col-4 text-end">
								{% if file.nsfw %}
									<span class="badge bg-danger">NSFW</span>
								{% endif %}
								</div>
							</div>
						</div>
					</div>
				</a>
				<div class="col-1 border-start d-flex justify-content-center action-button-cell">
					<a href="temp/">
						<i class="fas fa-download fa-lg"></i>
					</a>
				</div>
				<div class="col-1 border-start d-flex justify-content-center action-button-cell">
					<a href="temp/">
						<i class="fas fa-link fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
	{% empty %}
		<p>No files yet.</p>
	{% endfor %}
{% endblock %}