{% extends "stash_base.html" %}

{% block title %}Stash{% endblock %}

{% block stash_active %}active{% endblock %}
{% block upload_active %}{% endblock %}

{% block content %}
	<div class="btn-toolbar mb-3">
		
		<div class="btn-group me-3">
			<button type="button" class="btn btn-secondary active">SFW</button>
			<button type="button" class="btn btn-secondary">Both</button>
			<button type="button" class="btn btn-danger">NSFW</button>
		</div>
		<div class="btn-group">
			<div class="input-group">
				<button class="btn btn-secondary">Date</button>
			</div>
			<button type="button" class="btn btn-secondary"><i class="fas fa-caret-down"></i></button> 
		</div>
	</div>
	{% for file in object_list %}
		<div class="card mb-2 {% if file.nsfw %}border-danger{% else %}border-secondary{% endif %} overflow-hidden">
			<div class="row g-0 h-100" style="min-height: 150px">
				<div class="col-10 d-flex text-decoration-none text-reset">
					<a href="view/{{ file.id }}" class="action-button-cell">
						<div class="thumbnail-container d-flex align-items-center justify-content-center">
							{% load thumbnail %}
							{% if file.file_type == "image" or file.file_type == "video" %}
								<img src="{% thumbnail file.file 'preview' %}" class="img-fluid">
							{% elif file.file_type == "audio" %}
								<i class="fas fa-music fa-4x"></i>
							{% elif file.file_type == "other" %}
								<i class="fas fa-file fa-4x"></i>
							{% endif %}
						</div>
						<div class="card-body flex-grow-1">
							<div class="row">
								<div class="col-8">
									<h5 class="card-title">{{ file }}</h5>
									<p class="card-text text-muted small">{{ file.description }}</p>
								</div>
								<div class="col-4 text-end">
								{% if file.nsfw %}
									<span class="badge bg-danger">NSFW</span>
								{% endif %}
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-2 border-start d-flex flex-column">
					<a href="{{ file.file.url }}" download class="border-bottom action-button-cell">
						<i class="fas fa-download fa-lg"></i>
					</a>
					<button onclick="copyLink('{{ file.link }}')" class="btn action-button-cell">
						<i class="fas fa-link fa-lg"></i>
					</button>
					<script type="text/javascript">
						function copyLink(link) {
							navigator.clipboard.writeText(link);
							alert("Copied: " + link)
						}
					</script>
				</div>
			</div>
		</div>
	{% empty %}
		<p>No files yet.</p>
	{% endfor %}
{% endblock %}