{% extends "stash_base.html" %}

{% block title %}Stash - {{ object }}{% endblock title %}

{% block stash_active %}{% endblock %}
{% block upload_active %}{% endblock %}

{% block content %}
	<h1 class="mb-3">{{ object }}</h1>
	{% if file.file_type == "image" %}
		<img src="{{ object.file.url }}">
	{% elif file.file_type == "video" %}
		<video controls>
			<source src={{ object.file.url }}>
		</video>
	{% elif file.file_type == "audio" %}
		<audio controls>
			<source src={{ object.file.url }}>
		</audio>
	{% elif file.file_type == "other" %}
		<i class="fas fa-file fa-4x"></i>
	{% endif %}
	
	<p>Description: {{ object.description }}</p>
	<p>Added By: {{ object.added_by }}</p>
	<p>Source: {{ object.source }}</p>
	<p>Created: {{ object.created }}</p>
	<p>Modified: {{ object.modified }}</p>
{% endblock %}