{% extends "stash_base.html" %}

{% block title %}Stash{% endblock %}

{% block upload_active %}active{% endblock %}

{% block content %}
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		
		<h2 class="mb-3">{% block header %}{% endblock %}</h2>

		<div class="row mb-3 align-items-center">
			<div class="col-sm-3 text-sm-end pe-4 mb-1">
				<label for="id_file" class="fw-bold">File</label>
			</div>
			<div class="col-sm-9 ps-4">
				{{ form.file }}
			</div>
		</div>

		<div class="row mb-3 align-items-center">
			<div class="col-sm-3 text-sm-end pe-4 mb-1">
				<label for="id_description" class="fw-bold">Description</label>
			</div>
			<div class="col-sm-9 ps-4">
				{{ form.description }}
			</div>
		</div>

		<div class="row mb-3 align-items-center">
			<div class="col-sm-3 text-sm-end pe-4 mb-1">
				<label for="id_source" class="fw-bold">Source</label>
			</div>
			<div class="col-sm-9 ps-4">
				{{ form.source }}
			</div>
		</div>

		<div class="row mb-3 align-items-center">
			<div class="col-sm-3 text-sm-end pe-4 mb-1">
				<label for="id_nsfw" class="fw-bold">NSFW</label>
			</div>
			<div class="col-sm-9 ps-4">
				{{ form.nsfw }}
			</div>
		</div>

		<div class="row mb-3 align-items-center">
			<div class="col-sm-3 text-sm-end pe-4 mb-1">
				<label for="id_collections" class="fw-bold">Collections</label>
			</div>
			<div class="col-sm-9 ps-4">
				{{ form.collections }}
			</div>
		</div>

		<div class="row mt-4">
			<div class="col-sm-3"></div>
			<div class="col-sm-9 ps-4">
				<button type="submit" class="btn btn-primary px-3">{% block button %}{% endblock %}</button>
			</div>
		</div>
	</form>
{% endblock %}